:root {
    --primary: #00f2ff;
    /* Ciano Elettrico */
    --secondary: #4361ee;
    /* Blu profondo */
    --accent: #f72585;
    /* Magenta per errori */
    --gold: #ffd700;
    /* Oro per Utente Plus */
    --dark-bg: #0b1120;
    /* Sfondo molto scuro */
    --card-bg: rgba(30, 41, 59, 0.7);
    /* Effetto vetro */
    --text-main: #f8fafc;
    --text-muted: #94a3b8;
    --success: #00b894;
    /* Verde Eco */
    --warning: #f1c40f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Inter, system-ui, sans-serif;
}

body {
    background-color: var(--dark-bg);
    color: var(--text-main);
    background-image:
        radial-gradient(circle at 10% 20%, rgba(67, 97, 238, 0.2) 0%, transparent 20%),
        radial-gradient(circle at 90% 80%, rgba(0, 242, 255, 0.15) 0%, transparent 20%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}


/* NAVBAR */
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background: rgba(11, 17, 32, 0.85);
    backdrop-filter: blur(12px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

nav {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text-main);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
}

.logo-img {
    height: 60px;
    width: auto;
    margin-right: -17px;
}

.nav-links {
    display: flex;
    gap: 1.5rem;
    list-style: none;
}

.nav-item {
    cursor: pointer;
    font-weight: 500;
    color: var(--text-muted);
    transition: color 0.3s, text-shadow 0.3s;
    position: relative;
    font-size: 0.95rem;
}

.nav-item:hover,
.nav-item.active {
    color: var(--primary);
    text-shadow: 0 0 10px rgba(0, 242, 255, 0.5);
}

.nav-item.active::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--primary);
    box-shadow: 0 0 10px var(--primary);
}

/* Link Plus specifico */
.nav-plus {
    color: var(--gold);
    display: none;
    font-weight: bold;
}

.nav-plus:hover, .nav-plus.active {
    color: #fffacd;
    text-shadow: 0 0 10px rgba(255, 215, 0, 0.6);
}

.nav-plus.active::after {
    background: var(--gold);
    box-shadow: 0 0 10px var(--gold);
}

/* Link Admin specifico */
.nav-admin {
    color: var(--accent);
    display: none;
    font-weight: bold;
}

.nav-admin:hover, .nav-admin.active {
    color: #ff80ab;
    text-shadow: 0 0 10px rgba(247, 37, 133, 0.5);
}

.nav-admin.active::after {
    background: var(--accent);
    box-shadow: 0 0 10px var(--accent);
}